.container2{
    width: 100%;
}
.child1{
    width: 1548px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    padding: 60px 72px 60px 72px;
}
.boxes{
    width: 357px;
    height: 194px;
    gap: 29px;
}
.subboxes{
    width: 355px;
    height: 108px;
    gap: 20px;
}
.image{
    height: 64px;
    width: 64px;
    border: 4px solid white;
    margin: auto;
}
.head{
    font-family: 'Work Sans', sans-serif;
    font-weight: 1000;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    margin-top: 12px;
}
.para{
    font-family: 'Inter', sans-serif;
    height: 57px;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
}
.child2{
    width: 1462px;
    height: 580px;
    padding: 60px 72px 60px 158px;
    gap: 110px;
    display: flex;
}
.img{
    width: 550px;
    height: 549px;
    border-radius: 20px;
}
.content{
    margin-left: 96px;
    width: 550px;
    height: 491px;
    gap: 20px;
    margin-top: 44px;
}
.contentchild{
    width: 550px;
    height: 119px;
    gap: 20px;
}
.contenthead{
    width: 550px;
    height: 46px;
    gap: 16px;
    font-weight: 590;
    font-family:sans-serif;
    font-size: 20px;
}
.contentpara{
    height: 42px;
    font-weight: 200;
    font-size: 17px;
    line-height: 100%;
    color: #00000099;
    font-family: sans-serif;
}
.heading{
    display: flex;
}
.icon{
    border-radius: 50%;
    background-color: #2A48F5;
    height: 26px;
    width: 33px;
    color: white;
    margin-right: 12px;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 7px;
}